<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <resource-ref>
        <description>PostgreSQL DataSource</description>
        <res-ref-name>jdbc/Restaurant</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>


    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>com.work.restaurant.Filters.CORSFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>com.work.restaurant.Filters.JwtFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/tables/*</url-pattern>
        <url-pattern>/table-order-details/*</url-pattern>
        <url-pattern>/create-order/*</url-pattern>
    </filter-mapping>



</web-app>
